@import url('https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap');



//Variables

$color1:#5c6bc0;
$color2:#725b53;
$color3:#ef9a9a;
$color4:#f5f5f5;
$color5:#f5f5f5;
$color6:#b19e9a;
$color7:#9ab1aa;
$color8:#b19aa1;

//Media Query

$mobile-breakpoint: 600px;

//Code Styles

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{

    background-color:white;
    overflow-x: hidden;
    font-weight: 400;
    font-family: 'Sawarabi Mincho', sans-serif;

    .go-top{
        position: fixed;
        bottom: 100px;
        right:-100%;
        width:50px;
        height: 50px;
        border:2px solid $color2;
        background: #FFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        transition: 0.5s;
        z-index: 1000;

        @media only screen and (max-width: $mobile-breakpoint){
            display: none;
            }

        &:hover{
            border: #FFFF;
            background:$color2;
        }
        .go{
            font-size:30px;
            color: $color2;
            &:hover{
            color:$color4;

            @media only screen and (max-width: $mobile-breakpoint){
                display: none;
                }
            }     
        }
    }
    //NAV MENU
    #header{
        position:relative;
        width:100%;

        .menu{
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:60px;
            background:$color5;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 9999;
            position:relative;

            .logo-box{
                margin-left: 60px;
                h1, a{
                    text-decoration: none;
                    font-size: 1.2em;
                    font-weight: 400;
                    color:$color2;

                    @media only screen and (max-width: $mobile-breakpoint){
                       display:none;
                    }
                }
                
                .btn-menu{

                    .fa-bars{
                        display: none;
                        
                    
                    @media only screen and (max-width: $mobile-breakpoint){
                        display: block;
                        position: absolute;
                        top:20px;
                        right:30px;
                        font-size: 28px;
                        cursor: pointer;
                        
                        &:hover{
                            color:$color2;
                        }
                        }
                    
                    }

                }

            }
            
            .list-container{
                margin-right: 20px;

                @media only screen and (max-width: $mobile-breakpoint){
                position: absolute;
                top:60px;
                left:-100%;
                width: 100%;
                height: calc(100vh - 60px);
                background-color:#FFFF;
                }

                .lists{
                   display: flex;

                   @media only screen and (max-width: $mobile-breakpoint){
                    display: flex;
                    height: 100%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    border-top: 5px solid $color2;
                    }

                   li{
                       list-style: none;

                       @media only screen and (max-width: $mobile-breakpoint){
                        width: 90%;
                        margin:10px 0;
                        border-bottom: 1px $color2;
                        text-align: center;                    
                        }
                       a{
                           text-decoration: none;
                           margin:0 10px;
                           padding:8px;
                           color:$color2;
                           border-radius: 1em;
                           font-size: 1em;
                           transition: 0.3s;
                       
                           &.active{
                            background:$color2;
                            color:#FFFF;
                           }

                           &:hover{
                            background:$color2;
                            color:#FFFF;
                             }  
                        }
                    }
                }
            }
       
        }

        .img-header{
            position: relative;
            width:100vw;
            height:100vh;
            overflow-x: hidden;
            background: url(./Images/this.jpg);
            background-attachment: fixed;
            background-position: center;
            background-size: cover;

            @media only screen and (max-width: $mobile-breakpoint){
                height: 100vh;
                }

                .welcome{
                    position: absolute;
                    top:0;
                    left:0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                

                    h1{
                        font-size: 5em;
                        color:#FFFF;
                        font-weight: 200;
                        font-family: "Sawarabi Mincho", sans-serif;
                    }
                 
                    p{
                        color:#FFFF;
                        font-size:1.5em;
                        font-family: "Sawarabi Mincho", sans-serif;
                        font-weight: lighter;
                    }
                    @media only screen and (max-width: $mobile-breakpoint){
                    width:100%;
                    font-size: 0.5em;
                    }
                }
        }
    }

    main{
       
        .about-me{
            width:100%;
            margin-top:120px;  

            .info-container{
                width:80%;
                margin:auto;
                display: flex;
                justify-content: start;;
                flex-direction: column;
                padding-top: 5em;
               
            }
                h1{
                    font-size: 50px;
                    font-weight: 400;
                    color:#6d4c41;
                    text-align: center;
                    margin-bottom: 20px;
                    @media only screen and (max-width: $mobile-breakpoint){
                        font-size: 1.5em;
                        }
                }
    
                p{
                    text-align: center;
                    font-size:18px;
                    color:$color2;
                    line-height: 23px;
                    width: 50%;
                    margin: auto;
                    @media only screen and (max-width: $mobile-breakpoint){
                        width: 80%;
                        font-size:16px;
                        }

                }
    
                .about-gallery{
                    width:100%;
                    display: flex;
                    justify-content: center;
                    margin:50px 0px;
    
                        img{
                            filter: grayscale(100%);
                            width: calc(20% - 10px);
                            object-fit: cover;
                            background-position: center;
                            background-size: cover;
                            margin:10px 10px;
                            cursor: pointer;
    
                            @media only screen and (max-width: $mobile-breakpoint){
                                width: 200px;  
                                margin: 0 auto;
                                }
                        }
                    @media only screen and (max-width: $mobile-breakpoint){
                        flex-direction: column;    
                        }
                
                    }
    
                .more{
                    width: 100%;
                    display: flex;
                    justify-content: center;
    
                    button{
                        width:120px;
                        height: 40px;
                        background:$color1;
                        border-radius: 24px;
                        border:none;
                        outline: none;
                        font-size: 22px;
                        color:#FFFF;
                        text-align: center;
                        margin-top:20px;
                        cursor: pointer;
                        transition:0.5s;
    
                        &:hover{
                            background:$color3;
                        }
                    }
                }
    
            }
        }
    
        .our-projects{
            position: relative;
            width: 100%;
            height: 100%;
            background:white;
            margin-top:100px;
    
            .deg-background{
                position: absolute;
                top:0;
                left:0;
                width:100%;
                height: 100%;
                
            }
            .ejeZproject{
                position:relative;
                width:100%;
                height:100%;
                
            }
    
            .container-project{
                width:90%;
                margin:auto;

    
                @media only screen and (max-width: $mobile-breakpoint){
                    padding-top:50px;
                }

                .project-title{
                    border:none;
                    padding:2px;
                    text-align: center;
                    width:50%;
                    margin:0 auto;

                    @media only screen and (max-width: $mobile-breakpoint){
                    width:100%;
                    }
                    
                    h2{
                        font-size: 40px;
                        color:#9ab1aa;
                        font-weight: normal;

                        @media only screen and (max-width: $mobile-breakpoint){
                            font-size: 30px;
                            }
                    }
                }
    
                
                .project-img{
                    width:100%;
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    margin-top: 80px;

                    @media only screen and (max-width: $mobile-breakpoint){
                        flex-direction: column;   
                        }
    
                    img{
                        width: calc(30% - 10px);
                        margin:25px;
                        object-fit: cover;
                        border-radius: 5px;
                        cursor: pointer;
                        filter: greyscale(100%);

                        -webkit-filter: grayscale(1);
                        -webkit-transition: -webkit-filter 500ms linear  filter grayscale(1);
                    
                       &:hover{
                           -webkit-filter: grayscale(0%);
                       }
                       
                        
                        @media only screen and (max-width: $mobile-breakpoint){
                        width:100%;
                        padding:20px;
                        margin:0;
                        -webkit-filter: grayscale(0%);

                        }
                    
                    }
                }
            
               
            }
        }
    .hero{
        top:0;
        
        .informacion{
            width:100%;
            padding-top: 130px;
            padding-bottom: 110px;
           
            @media only screen and (max-width: $mobile-breakpoint){
                flex-direction: column;   
                }
    
            .informacion-title{
                width:50%;
                margin:auto;
                text-align: center;
                margin-bottom: 2em;
                margin-top: 2em;
    
                h2{
                    font-size: 40px;
                    color:$color2;
                    font-weight: normal;
                    margin-bottom: 10px;

                    @media only screen and (max-width: $mobile-breakpoint){
                    font-size: 22px;
                    }
                }
            }
        
            .mapa-address{
                display:flex;
                margin-left: 15em;
                margin-bottom: 5em;

                @media only screen and (max-width: $mobile-breakpoint){
                flex-direction: column;
                margin-left: 0;
                margin-bottom: 0;

                }
    
                .map{

                    @media only screen and (max-width: $mobile-breakpoint){
                    width:100%;
                    overflow-x: hidden;
                    }
                }
                .address{
                    padding-left: 2em;
                    line-height: 1.5em;
    
                    @media only screen and (max-width: $mobile-breakpoint){
                    padding: 3em;
                    }

                    .numer-house{
                        font-weight: 700;
                    
                        h4{
                            margin-top:2em;
                        }
                    }
                }
            }
        }
    }
    }
        
    
        

            .contact{
                position: relative;
                width: 100%;
                height: 100%;
                background-color: #fff9c4;

                .contact-details{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 0, 0, 0.4);
                }

                .ejeZfooter{
                    position: relative;
                    width: 100%;
                    height:100%;
                    background-image: linear-gradient(to right top, #7c7c7c, #959696, #afb1b1, #cacccb, #e7e8e6);

                    .contact-content{
                        width:90%;
                        padding-top: 10em;
                        margin: 0 auto;
                        height: 750px;
                        
                        @media only screen and (max-width: $mobile-breakpoint){
                        height:500px;
                        }
                        .contact-title{
                            width:50%;
                            margin:auto;
                            color:#FFFF;

                            @media only screen and (max-width: $mobile-breakpoint){
                                width:50%;
                                }

                            h2{
                                width: 100%;
                                margin:10px auto;
                                color:#FFFF;
                                font-size: 40px;
                                font-weight: normal;
                                text-align: center;
                                margin-bottom: 10px;
                            
                                @media only screen and (max-width: $mobile-breakpoint){
                                    font-size: 20px;
                                }
                            
                            }
                        }

                        .day-timing{
                            width:50%;
                            margin:auto;
                            padding-bottom: 3em;
                            padding-top:3em;
                            border:none;
                            color:#FFFF;
                            text-align: center;
                            line-height: 2em;
                            font-size:1.5em;

                            @media only screen and (max-width: $mobile-breakpoint){
                                width:100%;
                                font-size: 16px;
                                }
                        }
                         
                                }
                            }

                            
            }
                    
                    
            .footer-text{   
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.8);
                    border-top: 2px solid #FFFF;
                    width: 100%;
                    height:60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                        p{
                            color: #FFFF;
                            font-size: 15px;

                                @media only screen and (max-width: $mobile-breakpoint){
                                font-size: 10px;
                                text-align: center;
                                }
                            }

                    @media only screen and (max-width: $mobile-breakpoint){
                         width:100%;
                        }
            }

                
    
    








