@import url("https://fonts.googleapis.com/css2?family=Neuton:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Capriola&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  overflow-x: hidden;
  font-weight: 400;
  font-family: "Sawarabi Mincho", sans-serif;
}
body .go-top {
  position: fixed;
  bottom: 100px;
  right: -100%;
  width: 50px;
  height: 50px;
  border: 2px solid #725b53;
  background: #FFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1000;
}
@media only screen and (max-width: 600px) {
  body .go-top {
    display: none;
  }
}
body .go-top:hover {
  border: #FFFF;
  background: #725b53;
}
body .go-top .go {
  font-size: 30px;
  color: #725b53;
}
body .go-top .go:hover {
  color: #f5f5f5;
}
@media only screen and (max-width: 600px) {
  body .go-top .go:hover {
    display: none;
  }
}
body #header {
  position: relative;
  width: 100%;
}
body #header .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #f5f5f5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
  position: relative;
}
body #header .menu .logo-box {
  margin-left: 60px;
}
body #header .menu .logo-box h1, body #header .menu .logo-box a {
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  color: #725b53;
}
@media only screen and (max-width: 600px) {
  body #header .menu .logo-box h1, body #header .menu .logo-box a {
    display: none;
  }
}
body #header .menu .logo-box .btn-menu .fa-bars {
  display: none;
}
@media only screen and (max-width: 600px) {
  body #header .menu .logo-box .btn-menu .fa-bars {
    display: block;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 28px;
    cursor: pointer;
  }
  body #header .menu .logo-box .btn-menu .fa-bars:hover {
    color: #725b53;
  }
}
body #header .menu .list-container {
  margin-right: 20px;
}
@media only screen and (max-width: 600px) {
  body #header .menu .list-container {
    position: absolute;
    top: 60px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #FFFF;
  }
}
body #header .menu .list-container .lists {
  display: flex;
}
@media only screen and (max-width: 600px) {
  body #header .menu .list-container .lists {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 5px solid #725b53;
  }
}
body #header .menu .list-container .lists li {
  list-style: none;
}
@media only screen and (max-width: 600px) {
  body #header .menu .list-container .lists li {
    width: 90%;
    margin: 10px 0;
    border-bottom: 1px #725b53;
    text-align: center;
  }
}
body #header .menu .list-container .lists li a {
  text-decoration: none;
  margin: 0 10px;
  padding: 8px;
  color: #725b53;
  border-radius: 1em;
  font-size: 1em;
  transition: 0.3s;
}
body #header .menu .list-container .lists li a.active {
  background: #725b53;
  color: #FFFF;
}
body #header .menu .list-container .lists li a:hover {
  background: #725b53;
  color: #FFFF;
}
body #header .img-header {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: url(./Images/this.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 600px) {
  body #header .img-header {
    height: 100vh;
  }
}
body #header .img-header .welcome {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body #header .img-header .welcome h1 {
  font-size: 5em;
  color: #FFFF;
  font-weight: 200;
  font-family: "Sawarabi Mincho", sans-serif;
}
body #header .img-header .welcome p {
  color: #FFFF;
  font-size: 1.5em;
  font-family: "Sawarabi Mincho", sans-serif;
  font-weight: lighter;
}
@media only screen and (max-width: 600px) {
  body #header .img-header .welcome {
    width: 100%;
    font-size: 0.5em;
  }
}
body main .about-me {
  width: 100%;
  margin-top: 120px;
}
body main .about-me .info-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  padding-top: 5em;
}
body main .about-me h1 {
  font-size: 50px;
  font-weight: 400;
  color: #6d4c41;
  text-align: center;
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  body main .about-me h1 {
    font-size: 1.5em;
  }
}
body main .about-me p {
  text-align: center;
  font-size: 18px;
  color: #725b53;
  line-height: 23px;
  width: 50%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  body main .about-me p {
    width: 80%;
    font-size: 16px;
  }
}
body main .about-me .about-gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
body main .about-me .about-gallery img {
  filter: grayscale(100%);
  width: calc(20% - 10px);
  object-fit: cover;
  background-position: center;
  background-size: cover;
  margin: 10px 10px;
  cursor: pointer;
}
@media only screen and (max-width: 600px) {
  body main .about-me .about-gallery img {
    width: 200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  body main .about-me .about-gallery {
    flex-direction: column;
  }
}
body main .about-me .more {
  width: 100%;
  display: flex;
  justify-content: center;
}
body main .about-me .more button {
  width: 120px;
  height: 40px;
  background: #5c6bc0;
  border-radius: 24px;
  border: none;
  outline: none;
  font-size: 22px;
  color: #FFFF;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.5s;
}
body main .about-me .more button:hover {
  background: #ef9a9a;
}
body .our-projects {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  margin-top: 100px;
}
body .our-projects .deg-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body .our-projects .ejeZproject {
  position: relative;
  width: 100%;
  height: 100%;
}
body .our-projects .container-project {
  width: 90%;
  margin: auto;
}
@media only screen and (max-width: 600px) {
  body .our-projects .container-project {
    padding-top: 50px;
  }
}
body .our-projects .container-project .project-title {
  border: none;
  padding: 2px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  body .our-projects .container-project .project-title {
    width: 100%;
  }
}
body .our-projects .container-project .project-title h2 {
  font-size: 40px;
  color: #9ab1aa;
  font-weight: normal;
}
@media only screen and (max-width: 600px) {
  body .our-projects .container-project .project-title h2 {
    font-size: 30px;
  }
}
body .our-projects .container-project .project-img {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;
}
@media only screen and (max-width: 600px) {
  body .our-projects .container-project .project-img {
    flex-direction: column;
  }
}
body .our-projects .container-project .project-img img {
  width: calc(30% - 10px);
  margin: 25px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  filter: greyscale(100%);
  -webkit-filter: grayscale(1);
  -webkit-transition: -webkit-filter 500ms linear filter grayscale(1);
}
body .our-projects .container-project .project-img img:hover {
  -webkit-filter: grayscale(0%);
}
@media only screen and (max-width: 600px) {
  body .our-projects .container-project .project-img img {
    width: 100%;
    padding: 20px;
    margin: 0;
    -webkit-filter: grayscale(0%);
  }
}
body .hero {
  top: 0;
}
body .hero .informacion {
  width: 100%;
  padding-top: 130px;
  padding-bottom: 110px;
}
@media only screen and (max-width: 600px) {
  body .hero .informacion {
    flex-direction: column;
  }
}
body .hero .informacion .informacion-title {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 2em;
}
body .hero .informacion .informacion-title h2 {
  font-size: 40px;
  color: #725b53;
  font-weight: normal;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  body .hero .informacion .informacion-title h2 {
    font-size: 22px;
  }
}
body .hero .informacion .mapa-address {
  display: flex;
  margin-left: 15em;
  margin-bottom: 5em;
}
@media only screen and (max-width: 600px) {
  body .hero .informacion .mapa-address {
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  body .hero .informacion .mapa-address .map {
    width: 100%;
    overflow-x: hidden;
  }
}
body .hero .informacion .mapa-address .address {
  padding-left: 2em;
  line-height: 1.5em;
}
@media only screen and (max-width: 600px) {
  body .hero .informacion .mapa-address .address {
    padding: 3em;
  }
}
body .hero .informacion .mapa-address .address .numer-house {
  font-weight: 700;
}
body .hero .informacion .mapa-address .address .numer-house h4 {
  margin-top: 2em;
}

.contact {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff9c4;
}
.contact .contact-details {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.contact .ejeZfooter {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right top, #7c7c7c, #959696, #afb1b1, #cacccb, #e7e8e6);
}
.contact .ejeZfooter .contact-content {
  width: 90%;
  padding-top: 10em;
  margin: 0 auto;
  height: 750px;
}
@media only screen and (max-width: 600px) {
  .contact .ejeZfooter .contact-content {
    height: 500px;
  }
}
.contact .ejeZfooter .contact-content .contact-title {
  width: 50%;
  margin: auto;
  color: #FFFF;
}
@media only screen and (max-width: 600px) {
  .contact .ejeZfooter .contact-content .contact-title {
    width: 50%;
  }
}
.contact .ejeZfooter .contact-content .contact-title h2 {
  width: 100%;
  margin: 10px auto;
  color: #FFFF;
  font-size: 40px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .contact .ejeZfooter .contact-content .contact-title h2 {
    font-size: 20px;
  }
}
.contact .ejeZfooter .contact-content .day-timing {
  width: 50%;
  margin: auto;
  padding-bottom: 3em;
  padding-top: 3em;
  border: none;
  color: #FFFF;
  text-align: center;
  line-height: 2em;
  font-size: 1.5em;
}
@media only screen and (max-width: 600px) {
  .contact .ejeZfooter .contact-content .day-timing {
    width: 100%;
    font-size: 16px;
  }
}

.footer-text {
  width: 100%;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  border-top: 2px solid #FFFF;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-text p {
  color: #FFFF;
  font-size: 15px;
}
@media only screen and (max-width: 600px) {
  .footer-text p {
    font-size: 10px;
    text-align: center;
  }
}
@media only screen and (max-width: 600px) {
  .footer-text {
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
